* {
    box-sizing: border-box;
}

html {
    font-size: 95%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background: whitesmoke;
}

.upper {
    text-transform: uppercase;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.converter-section {
    width: 100%;
    text-align: center;
}

.converter-heading {
    font-size: 1.5em;
    font-weight: normal;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.converter {
    padding: 15px;
    background: white;
}

.converter-input-label {
    display: block;
    color: #808080;
    text-align: left;
}

.converter-input {
    outline: none;
    width: 49%;
    border-radius:10px 0px 0px 10px;
    -moz-border-radius:10px 0px 0px 10px;
    -webkit-border-radius:10px 0px 0px 10px;
    padding: 0.3em;
    font-size: 1.7em;
    font-weight: bold;
    border:1px solid #cccccc;
}

.converter-button {
    width: 50%;
}

.history-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tile {
    width: 50%;
    text-align: center;
}